<article id="campo">
  <div>
	<h3 class="h3-campo">CAMPOS EN BUENOS AIRES</h3>
	<p>Que sensación más hermosa los fines de semana, los domingos, poder viajar cerquita y hacernos una escapada a estos maravillosos lugares. Escapar del caos de la ciudad, poder tener un 360° del cielo, de verdes; escuchar al mismo tiempo a la naturaleza, el viento, vacas, pájaros, caballos. Me parece algo tan maravilloso, creo que si tenes auto o la posibilidad de realizar una escapada hacia estos lugares tan cercanos de la capital de Buenos Aires, recomiendo al 100 pasar el día o la tarde. Tomar una merienda, unos mates con facturas o pastelitos mientras cae el atardecer, es una fantasía cumplida allí.</p>
	<h4>Mi top 3 de atardeceres y mates!</h4>
	<ul class="lista-campo">
		<li style="color: darkolivegreen; font-weight: bold;">Chascomús, Buenos Aires
		<img src="chascomus-lago.jpg"></li>
		<li style="color: darkolivegreen; font-weight: bold;">San Antonio de Areco, Buenos Aires
		<img src="areco.jpg"></li>
		<li style="color: darkolivegreen; font-weight: bold;">Tigre, Buenos Aires
		<img src="tigre.jpg"></li>
	</ul>
  </div>
</article>