<form id="form-suscripcion" action="/"  method="post">
		<div>
		<h3 class="title-form">Suscribite para más info de lugares!</h3>
		<h4 class="subtitle-form">Tu nombre</h4>
		<input type="text" name="nombre" class="form-texto" placeholder="nombre">
		<h4 class="subtitle-form">Mail:</h4>
		<input type="email" name="email" class="form-email" placeholder="hola@email.com">
		<br>
		<button type="submit" class="form-button">SUSCRIBIRME♡</button>
        </div>
    {{ message }}
</form>

<article id="introduccion" style="margin-top: 10em;">
	<div>
		<h3>¿Querés viajar a un lugar pero no sabes dónde?</h3>
		<p>En nuestra página vas a poder encontrar hermosas postales, desde campos, lagunas, desiertos. Lugares que quizás no conocías de nuestro país, lugares por Argentina para poder viajar y disfrutar de su paz; paisajes que enamoran a cualquier persona. Lugarcitos de Argentina que dan placer visitarlos y saber que son de nuestro país.</p>
	</div>
</article>

<div class="container px-4 py-5" id="custom-cards" style=" border: 1.2px solid black; border-radius: 3em;">

<h2>Qué lugar te parece más acogedor?</h2>
<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 justify-content-center">

<div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.3), rgba(0,0,0,0.3))
    ,url(../images/campo-chascomus.jpg); background-position: center;">
	  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Campos</h3>
    	<form style=" display: inline-flex; justify-content: flex-end; margin: 3px;"><button style="border: 1.2px solid black; border-radius: 5em; background: lightpink;">♡</button></form>
    </div>
</div>
<div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.3), rgba(0,0,0,0.3))
    ,url(../images/laguna-chascomus.jpg); background-position: center;">
	  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Lagos</h3>
    	<form style=" display: inline-flex; justify-content: flex-end; margin: 3px;"><button style="border: 1.2px solid black; border-radius: 5em; background: lightpink;">♡</button></form>
    </div>
</div>
<div class="col">
    <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: linear-gradient(0deg,rgba(0,0,0,0.3), rgba(0,0,0,0.3)) 
    ,url(../images/cactus-jujuy.jpg); background-position: center;">
	  <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Desiertos</h3>
    	<form style=" display: inline-flex; justify-content: flex-end; margin: 3px;"><button style="border: 1.2px solid black; border-radius: 5em; background: lightpink;">♡</button></form>
    </div>
</div>


</div>
</div>



<div class="row row-cols-1 g-1">

<article id="desierto" class="d-flex flex-column">
	<div class="row" id="title-desierto">
		<h3>Te gustan los lugares desérticos?</h3>
    </div>	
	<div class="row">
		<p class="col">Argentina es un país de gran extensión, de punta a punta contiene rincones tan diversos como únicos, desde bosques húmedos a regiones de tierra casi inhóspita. Estos lugares en particular llevan a explorar su lado más árido.<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		<p class="col">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
    </div>

</div>

	<div id="border-container" class="row row-cols-1 g-1">

		<h4 class="col-12">Las zonas más áridas de Argentina:</h4>


    <div id="img-desierto">
        <div class="row">

        	<div class="col">
			<img src="../images/la-payunia.jpg"><br>
			<p class="lista-desierto">La Payunia, Mendoza.</p>
		    </div>
		    
            <div class="col">
			<img src="../images/salinas-grandes.jpg"><br>
			<p class="lista-desierto">Salinas Grandes, Salta y Jujuy.</p>
            </div>
        </div>

        <div class="row">

            <div class="col">
        	<img src="../images/antofalla.jpg"><br>
			<p class="lista-desierto">Antofalla, Catamarca.</p>
            </div>

            <div class="col">
        	<img src="../images/purmamarca-jujuy.jpg"><br>
			<p class="lista-desierto">Purmamarca, Jujuy.</p>				
            </div>
        </div>
        </div>

		</div>
    </div>
	    
	    </div>
</article>

<div style="text-align: center;">
	<p class="col-12" style="color: darkolivegreen; font-size: 2em; font-family: Lato;"><b>Sabías que?</b></p>
	<p class="col-12" style="font-size: 1.2em;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>



<article id="laguna">
	<div class="texto-divide">
	    	<br>
	      <h4><b>♡En esta sección hablaremos sobre nuestro querido Sur Argentino♡</b></h4>
        </div>
		<a href="lagos-argentina.html" class="informacion-lago"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
  <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
  <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
</svg> <span style="padding: 1em;">POSTALES DEL SUR</span> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
  <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
  <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
</svg></a>
     <br>
	</div>
</article>

<br>
<hr style="width: 15em; margin.top: 4em; margin-bottom: 4em;">

<article id="campo">
  <div>
	<h3 class="h3-campo">CAMPOS EN BUENOS AIRES</h3>
	<p>Que sensación más hermosa los fines de semana, los domingos, poder viajar cerquita y hacernos una escapada a estos maravillosos lugares. Escapar del caos de la ciudad, poder tener un 360° del cielo, de verdes; escuchar al mismo tiempo a la naturaleza, el viento, vacas, pájaros, caballos. Me parece algo tan maravilloso, creo que si tenes auto o la posibilidad de realizar una escapada hacia estos lugares tan cercanos de la capital de Buenos Aires, recomiendo al 100 pasar el día o la tarde. Tomar una merienda, unos mates con facturas o pastelitos mientras cae el atardecer, es una fantasía cumplida allí.</p>
	<h4>Mi top 3 de atardeceres y mates!</h4>
	<ul class="lista-campo">
		<li style="color: darkolivegreen; font-weight: bold;">Chascomús, Buenos Aires
		<img src="../images/chascomus-lago.jpg"></li>
		<li style="color: darkolivegreen; font-weight: bold;">San Antonio de Areco, Buenos Aires
		<img src="../images/areco.jpg"></li>
		<li style="color: darkolivegreen; font-weight: bold;">Tigre, Buenos Aires
		<img src="../images/tigre.jpg"></li>
	</ul>
  </div>
</article>

<hr style="width: 15em; margin.top: 4em; margin-bottom: 4em;">

<aside id="contacto" class="container">
	<div class="row">
	<h4 class="col-12">CONTACTO</h4>

	<h4>Instagram:</h4><a href="https://instagram.com/phviole" class="ig-contacto">@phviole</a>
	<h4>Mail:</h4><p>violetaa.zarabozo@gmail.com</p>
	<h4>Teléfono:</h4><p>+54 011 12345678</p>

	</div>
</aside>
