<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="inicio">Inicio</a></li>
      <li><a href="desierto">Desierto</a></li>
      <li><a href="lagos">Lagos</a></li>
      <li><a href="campo">Campo</a></li>
    </ul>
    {{{body}}}
  </body>
</html>
